.filter-button{
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    font-size: 16px;
    color: white;
    font-family: 'Oswald', 'Oswald2', serif;
    padding: .3rem 1.8rem;
    margin: .5rem .4rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
}

.filter-button__active{
    background: var(--orange);
    border: 1px solid var(--orange);
    color: black;
}