.topline{
    position: fixed;
    top: .5rem;
    z-index: 3;
    width: 100%;
}

.topline nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    background: var(--card-bg);
    padding: 0 .8rem;
    border-radius: .5rem;
}

.topline-buttons{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topline-button, 
.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 45px;
}
.menu-button svg{
    height: 80%;
    width: auto;
}
.menu-button svg path, 
.topline-button svg path{
    fill: var(--text-col);
}

.topline-button svg{
    height: 32px;
}






